<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>icon.png</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.medical</string>
	<key>LSArchitecturePriority</key>
	<array>
		<string>x86_64</string>
	</array>
	<key>MenuTitles</key>
	<array>
		<string>$(PRODUCT_NAME)</string>
	</array>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2018-2019, Takashi Shirakawa. All rights reserved.</string>
	<key>NSPrincipalClass</key>
	<string>AIASPluginFilter</string>
	<key>ToolbarIcon</key>
	<string>icon.png</string>
	<key>UIRequiresPersistentWiFi</key>
	<false/>
	<key>pluginType</key>
	<string>roiTool</string>
</dict>
</plist>
